.nli-wrapper{
	position: relative;
	min-height: 100%;

	&__sub{
		position: absolute;
		top: 0;
		bottom: 0;

		-webkit-transform-origin:0 0;
	    -moz-transform-origin:0 0;
	    -ms-transform-origin:0 0;
	    transform-origin:0 0;

	    &.is-open-right{
	    	transform: none;
	    }
	}

	&__menu{
		&--mobile{
			background-color: $nli-brown-text;
			height: 100%;

			&.position-right{
				right: -100%;
				width: 100%;
			}
		}
	}
}