//Colors

$black : #0a0a0a;
$white : #fefefe;
$gray-bright : #f2f2f2;
$gray-light : #c8c8c8;
$gray-light2: #d9d9d9;
$gray : #888888;
$gray-dark : #555555;
$tealgreen : #279184;
$tealgreen-light : #B9EFE8;
$tealgreen-light-active : #DBFCF6;
$tealblue : #3B3E63;
$tealblue-light : #696B77;

$btn-cta-color : #2EA9C3;
$btn-action-color : #57B887;

$text-color : #626D78;


$nli-brown-dark : #baaca3;
$nli-brown-breakpoint : #d6d1cd;
$nli-brown-light : #e4e0df;


$nli-gray-bg: #e8e6e7;
$nli-gray : #8f8b8a;
$nli-gray-dark : #7e7a7a;
$nli-gray-light : #a5a09f;

$nli-blue : #2e3192;
$nli-blue-dark : #252874;
$nli-blue-light : #393db3;

$nli-brown-text : #746d67;
$nli-brown-text-dark : #615953;

$nli-gray-text : #404040;
$nli-gray-text-light : #606060;
$nli-gray-text-dark : #202020;

$nli-tealgreen : #647C66;
$nli-tealgreen-light : #9AB0A4;


$nli-red : #EF2222;