.nli-hamburger-menu{
	&__button{

	  @include btn(50px, 50px);
	  
	  .icon {
	  	transition: all 0.5s;
	    @include icon(3px, 28px, $nli-brown-text);
	    
	    &:before{
	      @include icon-before(3px, 28px, -10px, $nli-brown-text);
	    }
	    
	    &:after{
	      @include icon-after(3px, 28px, 10px, $nli-brown-text);
	    }
	  }
	  
	  &.open {
	    .icon {
	      transition-duration: 0.5s;
	      background: transparent;
	      
	      &:before{
	        transform: rotateZ(45deg) scaleX(1.25) translate(6px, 6px);
	      }

	      &:after{
	        transform: rotateZ(-45deg) scaleX(1.25) translate(7px, -7px);
	      }
	    }
	  }
	  &:hover {
	    cursor: pointer;
	  }

  }
}