.nli-btns{
	text-transform: uppercase;
	margin-bottom: 10px;
		
	&--primary{
		&.button{
			&, &:link, &:visited{
				background-color: $nli-blue;
			}

			&:hover, &:active, &.active{
				background-color: $nli-blue-dark;
			}
		}
	}

	&--secondary{
		&.button{
			&, &:link, &:visited{
				background-color: $nli-gray;
			}

			&:hover, &:active, &.active{
				background-color: $nli-gray-dark;
			}
		}
	}


	&--icons{
		margin-left: 5px;
		color: $nli-gray-text;
		font-size: 14px;

		transition: all .25s;

		&:hover, &:active, &.active{
			color: $nli-blue;
		}
	}
}


.nli-link{
	&__text{
		&, & a{
			font-size: 14px;
			color: $nli-brown-text;
		}
	}
}