.yondu-callout{
	margin-bottom: 10px;
	border: none;

	&__link{
		position: relative;
		display: block;
		padding: 10px;
		width: 100%;

		color: $nli-gray-text;

		.fa{
			position: absolute;
			top: 14px;
			right: 12px;
		}

		&:hover, &:active{
			color: $nli-blue;
		}
	}

}