.yondu-nli-calculator{

	@include breakpoint(small only){
		display: none;
	}
	
	&--mobile{
		@include breakpoint(medium up){
			display: none;
		}
	}

	.yondu-widget__content{
		& > div.columns{
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 0;

			input{
				margin-bottom: 10px;
			}

			&.medium-6{
				&:nth-child(odd){
					padding-right: 5px;
				}
				&:nth-child(even){
					padding-left: 5px;
				}

				&.large-12{
					@include breakpoint(large up) {
						padding-left: 10px;
						padding-right: 10px;
					}
				}
			}
		}
	}
}