.yondu-validation{
	position: relative;
	height: 0;
	width: 100%;

	.form-error{
		position: absolute;
		top: -77px;
		right: 0;
	
		transition: all .25s;
		
		// display: block;
		padding: 5px;
		margin: 0;

		font-size: 12px;
		font-weight: normal;

		background-color: $nli-red;
		color: $white;

		&:after{
			content: "";
			position: absolute;
			right: 0;
			bottom: -6px;
			
			display: block;
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 6px solid $nli-red;
		}

	}
}