// Foundation Overrides

// Top bar override
.top-bar .top-bar-right{
	width: auto;
}


.off-canvas-content{
	background: transparent;
	box-shadow: none;
}



/* Data Tables overrides */
.dataTables_wrapper{
	background-color: transparent;
    width: 100%;

    & > .row:first-child{
        display: none;
    }
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
    background-color: transparent;
}
 
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 9px;
    right: 12px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: $nli-gray-text-light;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
    color: $nli-gray-text-light;
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
    color: $nli-gray-text-light;
}


/* Data Tables module */
.dataTables_info, .dataTables_paginate, .dataTables_length, .dataTables_filter{
    padding: 0;
    height: 40px;
}
/* Data Tables Info*/
.dataTables_info{
    display: none;
}

/* Data Tables Pagination */
.dataTables_paginate{
    margin-top: 10px;
    text-align: right;

    .pagination{
        margin: 0;

        li.paginate_button{
            
            &, &.active, &.disabled{
                &, &:hover, &:active, &:focus{
                    outline: 0;
                    margin: 0 2px;
                    padding: 0;
                    border: none;
                }
            }

            & > a, &.current, &.unavailable{
                width: 32px;
                height: 32px;
                line-height: 32px;

                padding: 0;

                text-align: center;
            }

            & > a{
                background: $gray-light;
                color: $black;
            }

            &.current{
                background: $nli-blue;
                color: $white;
            }

            &.unavailable{
                background: $gray-light2;
                color: $gray;
            }

            &.active a, & a:hover, & a:active, & a:focus{
                outline: 0;
                background: $nli-blue;
                color: $white;
            }
        }
    }
}



// Foundation Tabs override
.tabs-content{
    background-color: transparent;
}

.tabs-panel{
    padding: 0;
}