<footer class="top-bar">
	<div class="top-bar-title">Copyright &#169; 2016 NorthPine Land, Inc.</div>
</footer>



<!-- modals -->
<!-- confirmation modal -->
<div class="reveal tiny yondu-modal" id="confirmModal" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <p class="lead">Are you sure you want to delete?</p>
  <!-- <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button> -->
  <a class="button yondu-btn yondu-btn--secondary nomargin" data-open="exampleModal3">Yes</a>
  <a class="button yondu-btn yondu-btn--secondary nomargin" data-close>No</a>
</div>

<!-- vicinity map modal -->
<div class="reveal full yondu-modal" id="mapModal" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="lead">Vicinity Map</p>
  <img src="" alt="" class="yondu-modal__image"/>
</div>

<!-- available lots modal -->
<div class="reveal large yondu-modal" id="lotsModal" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
	<p class="lead">Available Lots</p>
	<div class="yondu-modal__data">
 		{{>yondu-filter}}
  	{{>yondu-table}}
	</div>
</div>


<!-- pre loader -->
<div class="yondu-loader">
	<div class="yondu-loader__icon" title="2">
	  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
	  <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
	    <animateTransform attributeType="xml"
	      attributeName="transform"
	      type="rotate"
	      from="0 25 25"
	      to="360 25 25"
	      dur="0.6s"
	      repeatCount="indefinite"/>
	    </path>
	  </svg>
	</div>
</div>
