<header>
  <div class="top-bar">
    <div class="top-bar-title">
      <img src="/assets/img/brand.png" />
    </div>
    
    <div id="responsive-menu">
      <div class="top-bar-left">
        <ul class="menu nli-page-menu">
          {{#ifpage 'dashboard-seller'}}
            <li class="active"><a href="#"><span>Projects</span></a></li>
            <li><a href="#"><span>Activities</span></a></a></li>
            <li><a href="#"><span>Commissions</span></a></a></li>
          {{/ifpage}}

          {{#ifpage 'dashboard-buyer' 'payments-made' 'overdue-payment' 'due-for-the-year' 'discounts' 'miscellaneous' 'contact-us' 'my-profile' 'change-password'}}
            <li class="active"><a href="#"><span>Statement of Account</span></a></li>
            <li><a href="#"><span>Contact Us</span></a></a></li>
          {{/ifpage}}
        </ul>
      </div>
      <div class="top-bar-right nli-user-menu">
        <div class="nli-user-menu__container">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><span>Welcome, <strong>Broker</strong></span></li>
            <li>
              <a href="#"></a>
              <ul class="menu">
                <li><a href="#">My Profile</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="top-bar-right nli-user-menu--mobile">
    		<span data-responsive-toggle="responsive-menu" data-hide-for="medium">
    			<span>Welcome, <strong>User</strong></span>
  	      <button class="menu-icon dark nli-hamburger-menu" data-hamburger type="button" data-open="offCanvas">
            <div class="nli-hamburger-menu__button">
              <div class="icon"></div>
            </div>
          </button>
  	    </span>
     </div>
  </div>
</header>