<!-- Menu -->
<div class="nli-menu__wrapper">
  <div class="nli-menu__content">
    <h1>NorthPine Logo here</h1>
    <ul class="nli-menu__main-page vertical menu">
      {{#ifpage 'dashboard-buyer' 'payments-made' 'overdue-payment' 'due-for-the-year' 'discounts' 'miscellaneous'}}
        <li><a href="#"><i class="fa fa-ban"></i>Statement of Account</a></li>
        <li><a href="#"><i class="fa fa-ban"></i>Contact Us</a></li>
      {{/ifpage}}

      {{#ifpage 'index' 'dashboard-seller'}}
        <li><a href="#"><i class="fa fa-ban"></i>Projects</a></li>
        <li><a href="#"><i class="fa fa-ban"></i>Activities</a></li>
        <li><a href="#"><i class="fa fa-ban"></i>Commissions</a></li>
      {{/ifpage}}
    </ul>
    <hr>
    <ul class="nli-menu__settings vertical menu">
      <li><a href="#">My Profile</a></li>
      <li><a href="#">Change Password</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
  <div class="nli-menu__footer">
    Copyright &#169; 2016 NorthPine Land, Inc.
  </div>
</div>
